<?xml version="1.0"?>
<web-app version="2.5" 
						xmlns="http://java.sun.com/xml/ns/javaee"
						xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
						xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/spring/applicationContext.xml</param-value>
    </context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.SecurePluginContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.PortletContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>view-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>view-servlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/view</url-pattern>
	</servlet-mapping>
<!-- 	<jsp-config> -->
<!-- 		<taglib id="PortletTLD"> -->
<!-- 			<taglib-uri>http://java.sun.com/portlet</taglib-uri> -->
<!-- 			<taglib-location>/WEB-INF/ftl/tld/std-portlet.tld</taglib-location> -->
<!-- 		</taglib> -->

<!-- 		<taglib id="LiferayTLD"> -->
<!-- 			<taglib-uri>http://liferay.com/tld/aui</taglib-uri> -->
<!-- 			<taglib-location>/WEB-INF/ftl/tld/liferay-aui.tld</taglib-location> -->
<!-- 		</taglib> -->
<!-- 	</jsp-config> -->
</web-app>